.btn{
    height: 2rem;
    width: 2rem;}

    @media (max-width:600px){
        .btn{
            height: 2rem;
            width: 2rem;
            
        }
        input{
            width: 20rem;
        }
        
    }

    input{
        -webkit-appearance: none;
        appearance: none;
        
        
    }
    
    input::-webkit-slider-runnable-track{
        
        border-radius: 34px;
        height: 6px;
    }
    input::-webkit-slider-thumb{
        -webkit-appearance: none;
        appearance: none;
        background-color: white;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        margin-top: -4px;
    }
